/**
 * Remove text-shadow in selection highlight.
 * These selection declarations have to be separate.
 *
 * @see: h5bp.com/i
 */

::-moz-selection {
	background: #98adca; /* RG Blue */
	text-shadow: none;
}
::selection {
	background: #98adca;
	text-shadow: none;
}

/*----------------------------------*/

.caption {
	font: 81.3%/1.5 Cambria, Georgia, serif;
	margin: 10px 0;
}

/*----------------------------------*/

.byline1,
.byline2 {
	font: 112.5%/1.2 Cambria, Georgia, serif;
}
.byline1 {
	font-weight: bold;
	font-variant: small-caps;
	margin-bottom: 0;
}
.byline2 {
	font-style: italic;
	margin-top: 0;
}

/*----------------------------------*/

#story { content: ""; display: table; } #story:after { clear: both; } #story { *zoom: 1; }
	#story p {
		font-family: Cambria, Georgia, serif;
		font-size: 118.8%;
		line-height: 1.5;
		letter-spacing: .01em;
		word-spacing: .05em;
		margin: 1.5em 0;
	}
		#story p .firsties {
			font-family: "MillerHeadline Bold", Cambria, Georgia, serif;
			font-style: normal;
			font-weight: bold;
			font-size: 100px;
			line-height: 70px;
			margin: 10px .2em 0 0;
			float: left;
			display: inline;
		}